<div id="sidebar-menu" class="sidebar-menu">
  <!-- Nav Items -->
  <ul>
    <!-- Orden Item-->
    <li data-link="orden">
      <a href="/features/Ordenes/index.html">
        <img src="/assets/img/icons/purchase1.svg" alt="img" /><span>
          Órdenes</span>
      </a>
    </li>

    <!-- End Orden Item-->
    <!-- Reports Item-->
    <li class="submenu" data-link="reporte">
      <a href="#">
        <img src="/assets/img/icons/purchase1.svg" alt="img" />
        <span>Reportes</span>
        <span class="menu-arrow"></span>
      </a>
      <ul>
        <li><a href="/features/Reportes/index.html">Reporte Diario</a></li>
        <li><a href="/features/Reportes/consolidado.html">Reporte Consolidado</a></li>
      </ul>
    </li>
    <!-- End Reports Items-->
    <!-- End Nav Items -->
</div>
<!-- End Nav Menu -->