<div id="sidebar-menu" class="sidebar-menu">
  <!-- Nav Items -->
  <ul>
    <!-- Orden Link-->
    <li data-link="orden">
      <a href="/features/Ordenes/index.html">
        <img src="/assets/img/icons/purchase1.svg" alt="img" /><span>
          Órdenes</span
        >
      </a>
    </li>
    <!-- End Orden Link-->

    <!-- Orden Admin Link-->
    <li data-link="orden-admin">
      <a href="/features/Ordenes/index-admin.html">
        <img src="/assets/img/icons/purchase1.svg" alt="img" /><span>
          Órdenes (Admin)</span
        >
      </a>
    </li>
    <!-- End Orden Admin Link-->

    <!-- Report Link-->
    <li class="submenu">
      <a href="javascript:void(0);" data-link="reportes" data-submenu>
        <img src="/assets/img/icons/purchase1.svg" alt="img" />
        <span>Reportes</span>
        <span class="menu-arrow"></span>
      </a>
      <ul>
        <li>
          <a href="/features/Reportes/index.html" id="diario">Reporte Diario</a>
        </li>
        <li>
          <a href="/features/Reportes/consolidado.html" id="consolidado"
            >Reporte Consolidado</a
          >
        </li>
        <li>
          <a href="/features/Reportes/metodo_pago.html" id="metodo_pago"
            >Reporte Método Pago</a
          >
        </li>
        <li>
          <a href="/features/Reportes/rep_usuario.html" id="reporte_usuario"
            >Reporte Usuario</a
          >
        </li>

        <li>
          <a href="/features/Reportes/tiempos_tarea.html" id="tiempos_tarea"
            >Reporte Tiempo Tarea</a
          >
        </li>

        <li>
          <a href="/features/Reportes/top_ventas.html" id="top_ventas"
            >Reporte Top Ventas</a
          >
        </li>
      </ul>
    </li>
    <!-- End Report Link-->

    <!-- Users Admin Link-->
    <li data-link="users">
      <a href="/features/Usuarios/index.html">
        <img src="/assets/img/icons/purchase1.svg" alt="img" /><span>
          Usuarios (Admin)</span
        >
      </a>
    </li>
    <!-- End Users Admin Link-->
  </ul>
  <!-- End Nav Items -->
</div>
<!-- End Nav Menu -->
